* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 1.6rem;
}
.navigation-section {
  height: 56px;
  width: 100%;
  display: flex;
  margin-top: 40px;
}
.navigation-section-logo--container {
  height: 56px;
  width: 212px;
  display: flex;
  margin-right: 220px;
}
.navigation-section-logo--img {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}
.navigation-section-logo--text {
  height: 56px;
  width: 156px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: rgba(19, 19, 19, 1);
}
.navigation-section-list {
  height: 20px;
  width: 447px;
  display: flex;
  list-style: none;
}
